@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@Assets.Templates()
@Assets.Script("vidpub-search.js")

<script id="productionTemplate" type="text/html">
    <h2>${controller}</h2>
    <table>
        {{each items}}
            <tr>
                <td><a href="/vidpub/productions/#edit/${ID}">${Title}</a></td>
            </tr>
        {{/each}}
    </table>
</script>
<script id="customerTemplate" type="text/html">
    <h2>Customers</h2>
    <table>
        {{each items}}
            <tr>
                <td><a href="/vidpub/customers/${ID}">${Last}, ${First}</a></td>
            </tr>
        {{/each}}
    </table>
</script>
<h2>Vidpub Admin</h2>
<form id="searchForm">
    <label>Find:</label>
    <input type="text" id="search" />
    <input type="submit" value="go" />
</form>
<div id="productions-search-results" class="search-results"></div>
<div id="episodes-search-results" class="search-results"></div>
<div id="customers-search-results" class="search-results"></div>