#logo
{
    background-color:#2d2d2d;
    height:65px;
    padding-left:52px;
}

#logo img
{
    padding-top:12px
}

#splash
{
    margin-bottom:32px;
    background-color:#4d4d4d;
    border-top:#ccc;
    padding-top:24px;
    height:360px;
}
.emphasis
{
    font-size:1.8em;
    font-family:"helvetica neue", "helvetica";
}

label
{
    display:block;
    font-style:italic;
    font-weight:bold;
}
/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid red;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

#notifier
{
    margin-top:24px;
    margin-bottom: 24px;
}